html{
  scroll-behavior: smooth;
}
.main{
  color:white;
  background-image: url("../images/backgrounds/h_img.jpg");
  text-align: center;
  background-repeat: no-repeat;
  padding-top:16%;
 background-size: cover;
 height:100vh;
 margin-top: 50px;
}
#mouse{
  padding-top: 11%;
}
#h1 h1{
padding-top: 2%;
font-size:40px;
font-weight: bolder;
}
.about{
  text-align: center;
}
#us p{
  font-size:20px;
}

#do{
  text-align: center;
}
.servicesdesc{
  display: none;
}
.work-heading {
  display: none;
  background-color: white;
  opacity: 0.8;
  z-index: 1;
  font-size: 30px;
  height: 100%;
  width: 100%;
  padding-top: 30%;
  padding-right: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services{
  background-image: url("../images/backgrounds/s_image.jpg");
  background-size: cover;
  padding:50px;
  text-align: center;
  margin-top: 50px;
}
.services p{
  font-size: 20px;
  color: white;
}
.services h1{
  color: white;
}
#ser{
  color:black;
}
.pot{
  text-align: center;
}
#do>h1{
  margin-top: 50px;
}
.pot>h1{
  margin-top: 50px;
}
#ct{
  color: white;
}
.form text{
  margin-left: 19%;
  background:white;
  padding: 6px;
}
#textarea{
  margin-left: 20%; 
  background:white;
  height: 200px; 
  width: 57%;
}
.contacts{
  background-image: url("../images/backgrounds/c_image.jpg");
  background-size: cover;
  text-align: center;
  background-position: fixed;
  background-repeat: no-repeat; 
  padding: 6%; 
}
.form placeholder{
   color:transparent;
  } */
.icons{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.icons>img{
  margin-left: 20px;
}

#copyright{
  text-align: center;
  margin-top:70px;
}