.main{
  color:white;
  background-image: url("../images/backgrounds/h_img.jpg");
  text-align: center;
  background-repeat: no-repeat;
  padding-top:16%;
 background-size: cover;
 height:100vh;
}
#mouse{
  padding-top: 11%;
}
#h1 h1{
padding-top: 2%;
font-size:40px;
font-weight: bolder;
}
.about{
  text-align: center;
}
#us p{
  font-size:20px;
}
#ser{
  color:black;
}

#do{
  text-align: center;
}
.row{
  margin-top: 20px;
}
.col-md-3 img{
  width:90%;
}
.services{
  background-image: url("../images/backgrounds/s_image.jpg");
  background-size: cover;
  padding:50px;
  text-align: center;
}
.services p{
  font-size: 20px;
  color: white;
}
.services h1{
  color: white;
}
.activities{
  text-align: center;
  display: flex;
  flex-direction: row;
}
.pot{
  text-align: center;
}